@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar {
  display: flex;
  height: 130px;
  color: #fff;
  background: rgb(199, 170, 92);
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-right: 50px;
}

.title-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.title-filters h3 {
  font-family: 'Pacifico', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.filter-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  width: 21%;
}

.label-filter {
  margin-right: 5px;
}

.select-filter {
  background: transparent;
  border-radius: 8px;
  background: #fff;
  border: none;
  padding: 3px 10px 3px 5px;
  opacity: 0.5;
}
